.book-edit-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    max-width: 900px;
    margin: 0.5rem auto 0;

}

.edit-book-header {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 1rem;
    text-decoration: underline;
}

.book-edit form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7em;
    margin-bottom: .5em;
}


.book-edit-actions-container {
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
}

.cancel-edit-btn,
.save-edit-btn {
    cursor: pointer;
    background-color: lightsalmon;
    padding: 0.5rem;
    border: 0;
    margin-right: 0.5rem;
}

.book-edit{
    background-color: aqua;
    padding-bottom: 0.5rem;
}

.book-review-container{
    display: flex;
    flex-direction: column;
    padding-block: 0.5rem;
    background-color: rgb(175, 255, 255);
    
}

.book-review-info-row{
    align-self: center;
    width: 25%;
}

.book-review-info-row >input{
    display: flex;
    
}